body {
	background-color: white;
	font-family: "Short Stack", serif;
	color: black;
}
h2 {
	font-family: "Handlee", serif;
}
h4 {
    font-family: "Delius Unicase", serif;
    font-size: 22pt;
}
a {
	color: #2D4B0D;
}
ul.navbar {
  list-style-type: none;
  width: 100%;
  overflow: hidden;
  margin: 0%; 
  padding: 1%;
  position: fixed;
  top: 0;
  border: 2px black;
  font-size: 14px;
  background-color: lightblue;
}
@media only screen and (max-width: 767px) {
	ul.navbar {
		background-color: lightgreen;
		padding: 1%;
	}
}
.navbar li {
  display: inline;
  float: right;
  margin-right: 150px;
}
li a {
  display: flex;
  text-decoration: none;
  padding: 10px 40px;
  color: black;
}
li a:hover {
  background-color: #93CA9B;
  color: white;
}
img.logocircle {
  position: fixed;
  left: 100px;
  width: 15%;
  top: -1%;
}
img.logotitle {
  position: fixed;
  left: 400px;
  width: 15%;
  top: 4%;
}
.carousel-inner img {
    margin-top: 3%;
	width: 100%;
    height: 100%;
  }
div.cap1 {
	position: absolute;
	width: 80%;
	left: 5%;
	top: 75%;
	color: white;
	font-size: 90pt;
	font-family: "Euphoria Script", serif;
}
@media (max-width: 1401px) {
    div.caption1 {
        font-size: 20pt;
    }
}
div.cap2 {
	position: absolute;
	width: 50%;
	left: 13%;
	top: 115%;
	color: white;
	font-size: 15pt;
}
div.cap3 {
	position: absolute;
	width: 40%;
	left: 7%;
	top: 175%;
	color: black;
	font-size: 60pt;
	font-family: "Vast Shadow", serif;
}
div.cap4 {
	position: absolute;
	width: 40%;
	left: 5%;
	top: 180%;
	color: black;
	font-size: 30pt;
	font-family: "Vast Shadow", serif;
	text-align: center;
}
img.whypic {
    right: 5%;
    width: 50%;
    top: 150%;
}
div.cap5 {
	position: absolute;
    left: 50%;
	width: 50%;
    height: 94.5%;
	top: 148.5%;
	background-color: #BFD066;
	padding: 7%;
    line-height: 2;
    text-align: center;
}
img.headerpic {
    width: 100%;
    height: 100%;
    top: 15%;
    opacity: 85%;
}
div.header {
    position: absolute;
    width: 100%;
    top: 20%;
    text-align: center;
    font-size: 80pt;
    color: white;
    font-family: "Sacramento", serif;
}
img.acaipic {
    position: absolute;
    width: 60%;
    top: 15%;
    left: 40%;
}
div.location {
    position: absolute;
    background-color: #B0D7D0;
    color: white;
    width: 40%;
    height: 76.5%;
    top: 15%;
    padding: 7%;
    line-height: 2;
    text-align: center;
}
.menu {
	grid-area: MENU;
}
.item-a {
  grid-area: JUICES;
}
.item-b {
  grid-area: thegreenie;
}
.item-c {
  grid-area: toxinflush;
}
.item-d {
  grid-area: thesublime;
}
.item-e {
  grid-area: thelittlebeet;
}
.item-f {
  grid-area: greenappledetox;
}
.item-g {
  grid-area: thebuzz;
}
.item-h {
  grid-area: ENERGIZINGELIXIRS;
}
.item-i {
  grid-area: applecidervinegarelixir;
}
.item-j {
  grid-area: greenapplesparkler;
}
.item-k {
  grid-area: FUSIONBLENDS;
}
.item-l {
  grid-area: bananaboost;
}
.item-m {
  grid-area: slendergreens;
}
.item-n {
  grid-area: tropicalcooler;
}
.item-o {
  grid-area: SMOOTHIES;
}
.item-p {
  grid-area: coldbrewprotein;
}
.item-q {
  grid-area: turmericsunrise;
}
.item-r {
  grid-area: berrybananaburst;
}
.item-s {
  grid-area: pinkflamingo;
}
.item-t {
  grid-area: healthnut;
}
.item-u {
  grid-area: popeyesacai;
}
.item-v {
  grid-area: mangodelight;
}
.item-w {
  grid-area: orangecrush;
}
.item-x {
  grid-area: ACAIBOWLS;
}
.item-y {
  grid-area: acaibananaberrybowl;
}
.item-z {
  grid-area: acaimangobowl;
}
.item-a2 {
  grid-area: dragonfruitbowl;
}
.item-b2 {
  grid-area: acaipeanutbutter;
}
.item-c2 {
  grid-area: proteinpowerbowl;
}
.item-d2 {
  grid-area: acaisuperfoodbowl;
}
.item-e2 {
  grid-area: SKOOPS;
}
.item-f2 {
  grid-area: vegancoconutvanillaskoop;
}
.item-g2 {
  grid-area: veganchocolateblissskoop;
}
.item-h2 {
  grid-area: GRABNGOS;
}
.item-i2 {
  grid-area: classicgreens;
}
.item-j2 {
  grid-area: originalskinnylemonade;
}
.item-k2 {
  grid-area: berrydetoxskinnylemonade;
}
.item-l2 {
  grid-area: superfoodprotein;
}
.item-m2 {
  grid-area: strawberrypitaya;
}
.item-n2 {
  grid-area: turmericcitruislemonade;
}
.item-o2 {
  grid-area: CLEANSES;
}
.item-p2 {
  grid-area: celerydetox;
}
.item-q2 {
  grid-area: classicdetox;
}
.itemplusone {
    grid-area: matchalemonsqueeze;
}
.itemplustwo {
    grid-area: carribeanpassion;
}
.itemplusthree {
    grid-area: strawberrysurfrider;
}
.itemplusfour {
    grid-area: orangecarrotkarma;
}
.itemplusfive {
    grid-area: greenteamatchaskoop;
}
.container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 70px 20px 20px 70px 20px 70px 20px 70px 20px 20px 70px 20px 70px 20px 70px 20px 70px;
    grid-template-areas: 
        "JUICES JUICES JUICES JUICES JUICES"
        "thegreenie toxinflush thesublime thelittlebeet greenappledetox"
        "thebuzz matchalemonsqueeze . . ."
        "ENERGIZINGELIXIRS ENERGIZINGELIXIRS ENERGIZINGELIXIRS ENERGIZINGELIXIRS ENERGIZINGELIXIRS"
        "applecidervinegarelixir greenapplesparkler carribeanpassion . ."
        "FUSIONBLENDS FUSIONBLENDS FUSIONBLENDS FUSIONBLENDS FUSIONBLENDS"
        "bananaboost slendergreens tropicalcooler orangecarrotkarma strawberrysurfrider"
        "SMOOTHIES SMOOTHIES SMOOTHIES SMOOTHIES SMOOTHIES"
        "coldbrewprotein turmericsunrise berrybananaburst pinkflamingo healthnut"
        "popeyesacai mangodelight orangecrush strawberrypitaya ."
        "ACAIBOWLS ACAIBOWLS ACAIBOWLS ACAIBOWLS ACAIBOWLS"
        "acaibananaberrybowl acaimangobowl dragonfruitbowl acaipeanutbutter acaisuperfoodbowl"
        "SKOOPS SKOOPS SKOOPS SKOOPS SKOOPS"
        "vegancoconutvanillaskoop veganchocolateblissskoop greenteamatchaskoop . ."
        "GRABNGOS GRABNGOS GRABNGOS GRABNGOS GRABNGOS"
        "classicgreens originalskinnylemonade berrydetoxskinnylemonade superfoodprotein turmericcitruislemonade"
        "CLEANSES CLEANSES CLEANSES CLEANSES CLEANSES"
        "celerydetox classicdetox . . .";
    grid-gap: 10px;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    
}
.container div:nth-child(even){
	background-color: #B0DE75;
}
.container div:nth-child(odd){
	background-color: #E0F2C8;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    margin-top: 10%;
}
/* Hide the images by default */
.mySlides {
    display: none;
}
/* Next & previous buttons */
button.prev, button.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

